<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Dog of the Day</title>
  <script src="https://unpkg.com/vue@3"></script>
  <style>
    body {
      background-color: lime;
      color: yellow;
      font-family: 'Times New Roman', serif;
      font-size: 10px;
      text-align: center;
    }
    img {
      border: 9px groove red;
    }
    .marquee {
     display: inline-block;
     white-space: nowrap;
         animation: scroll-left 10s linear infinite;
      font-size: 24px;
         color: red;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
  </style>
</head>
<body>
  <div id="app">
    <h1 class="marquee">DOG TIME!!!</h1>

    <button type="button" @click="getDog">SHOW DOG</button>
    <button type="button" @click="getDog">AGAIN</button>
    <button type="button" @click="getDog">AGAIN 2 ELECTRIC BOOGALOO</button>

    <p>Breed?? <input type="text" v-model="breed"></p>
    <p>Rate this dog: <input type="number" v-model="rating"></p>

    <img v-if="dogPic" :src="dogPic" width="200">

    <marquee behavior="scroll" direction="left" scrollamount="50">SO MANY DOGS WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="100">WOW WOW WOW WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="left" scrollamount="10">SO MANY DOGS WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="20">WOW WOW WOW WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="left" scrollamount="5">SO MANY DOGS WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="150">WOW WOW WOW WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="left" scrollamount="30">SO MANY DOGS WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="40">WOW WOW HELLO WORLD</marquee>
    <marquee behavior="scroll" direction="left" scrollamount="70">SO MANY DOGS WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="12">WOW WOW WOW WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="left" scrollamount="25">SO MANY DOGS WOW WOW WOW</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="60">WOW WOW WOW WOW WOW WOW</marquee>

  </div>

  <script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
            dogPic: '',
            breed:'',
            rating:''
        };
      },
      methods: {
        getDog() {
          fetch('https://dog.ceo/api/breeds/image/random')
            .then(res => res.json())
            .then(data => {
                this.dogPic = data.message;
                this.breed = '';
                this.rating = '';
             });
        }
      }
    }).mount('#app');
  </script>
</body>
</html>
